<div class="navbar">
    <h1 class="search-title-navbar"><span class="search-title-name1">Search</span> <span class="search-title-name2">
            d_evs</span></h1>
    <input class="search-input" placeholder="Search">
</div>

<div class="content">
    <div class="left">
        <div class="profile">
            <img src="caminho/para/sua/imagem.jpg" alt="Foto de perfil">
            <h2>Diego Silva</h2>
            <p> diegoss.silva</p>
            <p class="profile-description mt3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <div class="info mt3">
                <img class="icon" src="../../assets/img/group.svg" alt="Ícone de seguidores">
                <p>240 seguidores</p>
            </div>
            <div class="info">
                <img class="icon" src="../../assets/img/heart.svg" alt="Ícone de seguidores">
                <p>24 seguindo</p>
            </div>


            <div class="info mt3">
                <img class="icon" src="../../assets/img/company.svg" alt="Ícone de Petize">
                <p>Petize</p>
            </div>
            <div class="info">
                <img class="icon" src="../../assets/img/location.svg" alt="Ícone de Petize">
                <p>São Paulo</p>
            </div>

            <div class="info">
                <img class="icon" src="../../assets/img/email.svg" alt="Ícone de email">
                <p>diego petize.com.br</p>
            </div>

            <div class="info">
                <img class="icon" src="../../assets/img/website.svg" alt="Ícone de website">
                <p>www.diegosilva.com.br</p>
            </div>

            <div class="info">
                <img class="icon" src="../../assets/img/twitter.svg" alt="Ícone de Instagram">
                <p> diegosilva</p>
            </div>
            <h2 class="contact-button mt3">Contato</h2>
        </div>
    </div>

    <div class="right">
        <div class="repository">
            <h2>Repositório nome</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
                tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
                elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>

            <div class="info">
                <p><img src="../../assets/img/star.svg" alt="Ícone de estrela">100 · Atualizado há 2 dias</p>
            </div>
        </div>
    </div>
</div>