/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 109.12px;
    letter-spacing: 0.01em;
    text-align: left;
  }

.search-title-name1{
    color: #0069CA;
}

.search-title-name2{
    color: #8C19D2;
}