.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.search-title {
    font-size: 80px;
    font-weight: 500;
}

.search-input {
    width: 592px;
    height: 48px;
    top: 570px;
    left: 200px;
    gap: 0px;
    border-radius: 6px;
    border: 1px solid #00000017;
    opacity: 0px;
    padding: 5px 0px 5px 20px;
    font-size: 20px;
}

input:focus {
    border: 1px solid #8C19D2; 
    outline: none;
}

.search-button {
    height: 60px;
    background-color: #8C19D2;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    width: 200px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}